body
{
    margin: 0;
    height: 100vh;
    background: url('https://unsplash.it/1500/900?image=1021');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper
{
    width: 850px;
    display: flex;
}
video
{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.speed
{
    background-color: #efefef;
    flex: 1;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.speed-bar
{
    width: 100%;
    height: 16.3%;
    background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    color: #fff;
    cursor: pointer;
}