* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1acbfc;
}

.traffic-light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 22.5em;
  background-color: #333;
  transform: translate(-50%, -50%);
  border: 0.5em solid #eee;
  border-radius: 2em;
  z-index: 10;
}

.traffic-light::after {
  content: '';
  width: 3em;
  height: 8em;
  position: absolute;
  top: 100%;
  left: 50%;
  background: #eee;
  background: linear-gradient( rgba(240, 240, 240, 0.9), #1acbfc 70%);
  transform: translateX(-50%);
  z-index: 0;
}

.light {
  width: 6em;
  height: 5.5em;
  background-color: #000000;
  border-top: 0.5em solid #000;
  border-radius: 50%;
  margin: 1em auto;
}

.red {
  animation: red 10s linear infinite;
}

@keyframes red {
  0% { background-color: #000; }
  2%, 40% { background-color: red; }
  42%, 100% { background-color: #000; }
}

.amber {
  animation: amber 10s linear infinite;
}

@keyframes amber {
  0%, 20% { background-color: #000; }
  22%, 40% { background-color: #ff7e00; }
  42%, 80% { background-color: #000; }
  82%, 100% { background-color: #ff7e00; }
}

.green {
  animation: green 10s linear infinite;
}

@keyframes green {
  0%, 40% { background-color: #000; }
  42%, 80% { background-color: green; }
  82%, 100% { background-color: #000; }
}